@model ChuckNorrisFactViewModel

<div class="row">
    <div class="alert alert-primary" role="alert">
        @Model.Value
    </div>
</div>
<div class="row">
    <a href="@Model.Url" class="page-link">Url</a>
</div>

